<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">
  
 <img width="300" alt="TVS-MOTOR Logo" src="assets\BIKE-report\TVS-LOGO.jpeg">
 <br>
 <MArquee><h6>
     Welcome to {{ title }}!
    </h6>
  </MArquee>
 <img width="1450" height="400" alt="TVS-LOGO " src="assets\BIKE-report\TVS-HOME.png">
 <br>
  <h6>TVS Motor Company is a reputed two and three-wheeler manufacturer globally, championing progress through Sustainable Mobility with 
    four state-of-the-art manufacturing facilities in Hosur, Mysuru and Nalagarh in India and Karawang in Indonesia. Rooted in our 100-year
     legacy of Trust, Value, and Service.
  </h6>

  <br>
  <video width="1450" height="400" controls>
    <source src="assets\intro.mp4" type="video/mp4">
  </video>


</div>
<h2>Here are some links to know more about TVS-MOTOR: </h2>
<ul>
  <li>
    <h6><a target="_blank" rel="noopener" href="https://youtu.be/RQVTIMhQ2Gc">TVS Bharat Mobility 2024</a></h6>
  </li>
  <li>
    <h6><a target="_blank" rel="noopener" href="https://www.tvsmotor.com/">About TVS-MOTOR</a></h6>
  </li>
  <li>
    <h6><a target="_blank" rel="noopener" href="https://www.tvsmotor.com/media/blog/the-evolution-of-engine-technology-in-tvs-2-wheelers">TVS blog</a></h6>
  </li>
</ul>


<footer>
  <p>© DEMO. All Rights Reserved</p>
</footer>

